.App {
  text-align: center;
}
.card{
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  flex-direction: row;

}
.card img{
  width: 150px;
  height: 150px;
  margin-right: 16px;
}